<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Banco do Povo</title>
<link rel="stylesheet" type="text/css" href="/css/theme.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script>
	var StyleFile = "theme4.css";
	document
			.writeln('<link rel="stylesheet" type="text/css" href="/css/' + StyleFile + '">');
</script>


<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/css/ie-sucks.css" />
	<![endif]-->
</head>

<body>
	<div id="container">
		<div id="header">
			<h2>Banco do Povo</h2>
			<div id="topmenu">
				<ul>
					<li><a th:href="@{'/correntista/lista'}" href="#">Correntista</a></li>
					<li class="current"> <a th:href="@{'/conta/lista'}" href="#">Contas</a></li>
				</ul>
			</div>
		</div>
		<div id="wrapper">

			<div id="content">
				<div id="box">
					<div id="tabela">
					
						<h3 th:text="@{'Histórico da Conta '+ ${conta.id} +' : '+ ${conta.correntista.nome} + ' : RS ' + ${conta.saldo}}"> </h3>
						<table width="100%">
							<thead>
								<tr>
									<th><a href="#">Tipo</a></th>
									<th><a href="#">Valor</a></th>
									<th><a href="#">Descrição</a></th>
								</tr>
							</thead>
							<tbody id="listatabela">

								<tr th:each="historico : ${conta.historicos}">
									<td class="a-center" th:text="${historico.tipo}">tipo</td>
									<td th:text="${historico.valor}">valor</td>
									<td th:text="${historico.descricao}">descricao</td>
								</tr>

								<tr>
									<td class="a-center"></td>
									<td><b th:text="@{'R$'+ ${conta.saldo}}">R$ 100000</b></td>
									<td></td>
								</tr>

							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div id="wrapper">
				<div id="content">
					<div id="box">
						<h3 id="adduser">Movimentação</h3>
						
						<form id="formhistorico" th:action="@{/historico/addhistorico}" method="post" action="#">
							<!--  <input type="hidden" th:value="${conta.id}" th:name="conta"/> -->
							<input type="hidden" name="idConta" th:value="${conta.id}"/> 
							
							<fieldset id="personal">
								<legend>Informações</legend>
								<label for="lastname">Valor : </label> <input name="valor"
									id="valor" type="text" tabindex="1" /> <br /> <label
									for="descricao">Descrição : </label> <input name="descricao"
									id="descricao" type="text" tabindex="1" /> <br /> <label
									for="tipo">Tipo : </label> <select name="tipo" id="tipo">
									<option value="C">Crédito</option>
									<option value="D">Débito</option>
								</select>

							</fieldset>
							<div align="center">
								<input id="button1" type="submit" value="Send" /> 
								<input id="button2" type="reset" />
							</div>
						</form>
					</div>
				</div>

			</div>
			<div id="footer">
				<div id="credits">
					Template by <a href="http://www.bloganje.com">Bloganje</a>
				</div>
				<br />
			</div>


		</div>
	</div>

	<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
	<script src="/js/conta.js"></script>
	
</body>
</html>
